/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter';
    --accent-font: 'PressStart2P';
    --card-text-font-weight: 400;
    --card-title-font-weight: 700;
    --main-font-size: 18px;
}